html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: red;
    display: flex;
    flex-direction: column;
}

/* menu */
.menu {
    display: flex;
    justify-content: center;
    background: yellow;
    padding: 15px 0;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-family: 'Lobster', cursive;
    font-size: 18px;
}

/* MAIN segura a imagem */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;   /* coloca a imagem mais pra cima */
    padding-top: 20px;    /* deixa um espaço abaixo do menu */
}

/* LOGO */
.logo {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

/* footer */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}
